@charset "UTF-8";
/* CSS Document */
/*css reset*/
* {
  position: relative;
  box-sizing: border-box;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
  outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  box-sizing: content-box;
}

textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%; /* 1 */
  -webkit-text-size-adjust: 100%; /* 2 */
  -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */
img {
  border: 0; /* 1 */
  -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0; /* 1 */
  padding: 0;
  white-space: normal; /* 2 */
  *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%; /* 1 */
  margin: 0; /* 2 */
  vertical-align: baseline; /* 3 */
  *vertical-align: middle; /* 3 */
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type=button],
input[type=reset],
input[type=submit] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
  *overflow: visible; /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type=checkbox],
input[type=radio] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
  *height: 13px; /* 3 */
  *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type=search] {
  -webkit-appearance: textfield; /* 1 */ /* 2 */
  box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */
textarea {
  overflow: auto; /* 1 */
  vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ----- 自己追加預設樣式 ----- */
body {
  width: 100vw;
  overflow-x: hidden;
  font-family: "微軟正黑體", serif;
}

h1 {
  font-size: 48px;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 14px;
}

p {
  font-size: 16px;
}

ul.preset {
  list-style-type: disc;
}

ol.preset {
  list-style-type: decimal-leading-zero;
}

ul.preset, ol.preset {
  font-size: 16px;
  margin: 10px 0;
}
ul.preset li, ol.preset li {
  margin-left: 25px;
  line-height: 1.3;
  padding: 5px 0;
}

table {
  width: 100%;
  border: 2px solid #ddd;
}
table td {
  padding: 5px;
  border: 1px solid #ddd;
}
table thead td {
  background-color: #666;
  color: #fff;
}

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: #f5f3ee;
  color: #282726;
  font-size: 16px;
}

body {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
}

h5.quest {
  margin-top: 2em;
  margin-bottom: 0.5em;
}

p.ans {
  margin-bottom: 1em;
}

.mb-2 {
  margin-bottom: 0.5em;
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

::-moz-selection {
  background-color: rgba(213, 189, 175, 0.7);
}

::selection {
  background-color: rgba(213, 189, 175, 0.7);
}

/* 滾動條修改CSS(僅限-webkit-瀏覽器，chrome、safari、opera) */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 16px 16px rgba(189, 157, 138, 0.15);
  border: 4px solid transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 16px 16px rgba(189, 157, 138, 0.5);
  border: 4px solid transparent;
  border-radius: 10px;
}

a,
i,
button,
input,
*::before,
*::after {
  transition: 0.3s;
}

.tac {
  text-align: center;
}

.bold {
  font-weight: bold;
}

.dfc {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

a {
  color: #666;
  text-decoration: none;
}
a:hover, a:focus {
  color: #bbb;
}

a.btn {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #bd9d8a;
  color: #bd9d8a;
  font-size: 1em;
  text-decoration: none;
  padding: 10px 30px;
}
a.btn i {
  color: #bd9d8a;
}
a.btn:hover, a.btn:focus {
  background-color: #bd9d8a;
  color: #fff;
}
a.btn:hover i, a.btn:focus i {
  color: #fff;
}

span.highlight {
  color: #5ea72e;
  font-weight: bold;
}

.container {
  width: 96%;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  width: 100%;
  padding: 20px 0;
  background-color: #282726;
  border-top: 1px solid #d5bdaf;
  color: #fff;
}
#footer ul.footer-contact {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 0.9em;
}
#footer ul.footer-contact i {
  font-size: 1.4em;
  margin-right: 5px;
  color: #d5bdaf;
}
#footer ul.footer-contact a {
  color: #d5bdaf;
  text-decoration: underline;
}
#footer ul.footer-contact a:hover, #footer ul.footer-contact a:focus {
  color: #bd9d8a;
}
#footer ul.footer-contact li {
  display: flex;
  align-items: center;
  margin-right: 30px;
}

#gotop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background-color: #bd9d8a;
  border: 1px solid #ddd;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  z-index: 10;
}
#gotop i {
  font-size: 1.5em;
}
#gotop:hover {
  background-color: #d5bdaf;
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 4em;
  color: #bd9d8a;
  letter-spacing: 1px;
  text-align: center;
  padding: 100px 0 30px 0;
}

.subtitle {
  font-weight: 500;
  font-size: 2em;
  color: #bd9d8a;
  word-spacing: 5px;
  padding: 25px 0;
}

.title-wrap {
  padding-bottom: 30px;
}
.title-wrap .links {
  padding-bottom: 50px;
}
.title-wrap .links p {
  text-align: center;
  padding-bottom: 20px;
}

.tag {
  font-size: 1em;
}
.tag .text-center {
  text-align: center;
}
.tag span {
  display: inline-block;
  padding: 8px 12px;
  background-color: #bd9d8a;
  color: #fff;
  border-radius: 5px;
}

.personal {
  width: 100%;
  display: flex;
  align-items: stretch;
  align-content: center;
  justify-content: center;
}
.personal .dfc {
  width: 300px;
  flex-wrap: wrap;
  border-right: 1px dashed #ddd;
}
.personal .dfc h2,
.personal .dfc h5,
.personal .dfc ul {
  width: 100%;
}
.personal .dfc h2 {
  margin: 20px 0;
  font-size: 1.6em;
  line-height: 1.2;
  letter-spacing: 2px;
}
.personal .dfc h2 span {
  display: block;
  font-size: 0.6em;
  opacity: 0.5;
  margin-top: 4px;
  letter-spacing: 1px;
}
.personal .dfc h5 {
  color: #bd9d8a;
}
.personal ul.contact {
  font-size: 0.9em;
  margin-top: 20px;
}
.personal ul.contact i {
  font-size: 1.5em;
  margin-right: 10px;
  color: #bd9d8a;
}
.personal ul.contact a {
  text-decoration: underline;
  display: block;
}
.personal ul.contact li {
  padding: 5px 0;
  display: flex;
  align-items: center;
}
.personal ul.contact li span.note {
  display: block;
  color: #777;
  font-size: 0.85em;
  margin-left: 5px;
}
.personal .imgbox {
  width: 150px;
  border: 1px solid #ddd;
  border-radius: 100%;
  overflow: hidden;
}
.personal .imgbox img {
  width: 100%;
  height: auto;
}
.personal .fontbox {
  width: calc(100% - 300px);
  padding-left: 3%;
}
.personal .fontbox ul.preset {
  margin-bottom: 24px;
}
.personal ul.btnlist p {
  padding: 10px 0;
}
.personal ul.btnlist li {
  display: inline-flex;
  margin: 2px 0;
}

table {
  border: none;
}
table td {
  border: 1px dashed #d5bdaf;
  padding: 10px;
  font-size: 0.9em;
}
table thead td {
  background-color: #bd9d8a;
  border-style: solid;
}

.edit-block {
  width: 100%;
  background-color: #fff;
  margin-bottom: 80px;
  padding: 3%;
  border-radius: 15px;
  border: 1px solid rgba(213, 189, 175, 0.5);
}
.edit-block a {
  text-decoration: underline;
}
.edit-block a.btn {
  text-decoration: none;
}
.edit-block p {
  line-height: 1.8;
}
.edit-block img {
  max-width: 100% !important;
  height: auto !important;
}

.inner-title {
  padding: 5px 15px;
  margin-bottom: 10px;
  font-weight: bold;
}
.inner-title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 4px;
  height: 100%;
  background-color: #d5bdaf;
}

.inner-font {
  line-height: 1.8;
}

.note-wrap {
  padding-bottom: 100px;
}

ul.skill-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
}
ul.skill-list > li {
  width: 33.3333333333%;
  padding: 0 20px;
  border-right: 1px dashed #ddd;
}
ul.skill-list > li:last-child {
  border-right: none;
}
ul.skill-list > li a.btn {
  display: block;
}
ul.skill-list > li .icon-box {
  display: flex;
  align-items: center;
}
ul.skill-list > li .icon-box h5 {
  color: #bd9d8a;
  font-weight: bold;
}
ul.skill-list > li i {
  font-size: 1.9em;
  margin-right: 15px;
  color: #bd9d8a;
  border: 1px dashed #d5bdaf;
  padding: 10px;
  border-radius: 100%;
}

ul.preset a {
  text-decoration: underline;
}
ul.preset li {
  font-size: 1em;
}
ul.preset li::marker {
  color: #bd9d8a;
}
ul.preset li span.note {
  font-weight: normal;
  display: block;
  color: #777;
  font-size: 0.85em;
}
ul.preset li span.note ul {
  list-style: disc;
  margin-top: 4px;
}
ul.preset li span.note ul > li {
  padding: 2px 0;
  margin: 0 0 0 18px;
}

.portfolio-wrap {
  width: 100%;
  margin-bottom: 120px;
}

ul.portfolio-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 50px;
}
ul.portfolio-list li {
  width: calc(50% - 12px);
  margin: 6px;
  border: 1px solid #fff;
  border-radius: 8px;
  overflow: hidden;
}
ul.portfolio-list li a:hover .img img,
ul.portfolio-list li a:focus .img img {
  transform: scale(1.05);
  opacity: 1;
}
ul.portfolio-list li a:hover .font-box h3,
ul.portfolio-list li a:focus .font-box h3 {
  color: #d5bdaf;
}
ul.portfolio-list li a:hover .font-box::after,
ul.portfolio-list li a:focus .font-box::after {
  transform: scale(1, 1);
}
ul.portfolio-list li .img {
  width: 100%;
  height: auto;
}
ul.portfolio-list li .img img {
  width: 100%;
  height: auto;
}
ul.portfolio-list li a > .img {
  overflow: hidden;
}
ul.portfolio-list li a > .img img {
  transform: scale(1);
  transform-origin: top center;
  transition: 0.5s;
  opacity: 0.8;
}
ul.portfolio-list li .font-box {
  padding: 20px;
  background-color: #fff;
  line-height: 1.5;
  transition: 0.5s;
}
ul.portfolio-list li .font-box h3 {
  margin-bottom: 8px;
  color: #282726;
  font-weight: bold;
}
ul.portfolio-list li .font-box h6 {
  color: #999;
}
ul.portfolio-list li .font-box h6 span {
  color: #bd9d8a;
  font-weight: bold;
  margin-right: 12px;
  padding-right: 12px;
  border-right: 1px solid #ddd;
}
ul.portfolio-list li .font-box h3,
ul.portfolio-list li .font-box h6 {
  transition: 0.3s;
}
ul.portfolio-list li .font-box::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 5px;
  background-color: #d5bdaf;
  transform-origin: left center;
  transform: scale(0, 1);
  transition: 1s;
  transition-timing-function: ease-in-out;
}
ul.portfolio-list li .pop-wrap {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1001;
}
ul.portfolio-list li .pop-wrap .bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(204, 204, 204, 0.8);
}
ul.portfolio-list li .pop-wrap .inner-page {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 96%;
  padding: 50px 20px;
  background-color: #fff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
  border-radius: 16px;
}
ul.portfolio-list li .pop-wrap .inner-page .title {
  padding: 0 0 20px 0;
  font-size: 2.5em;
  border-bottom: 1px solid #bd9d8a;
}
ul.portfolio-list li .pop-wrap .inner-page .title a {
  color: #bd9d8a;
}
ul.portfolio-list li .pop-wrap .inner-page .title a:hover, ul.portfolio-list li .pop-wrap .inner-page .title a:focus {
  color: #d5bdaf;
}
ul.portfolio-list li .pop-wrap .inner-page h6 {
  line-height: 1.8;
}
ul.portfolio-list li .pop-wrap .inner-page .link {
  padding: 20px 0;
}
ul.portfolio-list li .pop-wrap .inner-page .link .btn {
  margin-left: 10px;
}
ul.portfolio-list li .pop-wrap .inner-page .img {
  margin: 20px 0 30px 0;
}
ul.portfolio-list li .pop-wrap .inner-page .img > img {
  width: 100%;
  height: auto;
  border: 1px solid #eee;
  margin-bottom: 20px;
}
ul.portfolio-list li .pop-wrap .inner-page .gray {
  color: #999;
}
ul.portfolio-list li .pop-wrap .inner-page .overflow {
  width: 100%;
  padding: 40px 0;
  height: calc(100% - 60px);
  overflow-y: auto;
}
ul.portfolio-list li .pop-wrap .inner-page .remove {
  position: fixed;
  right: 20px;
  top: 20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: 0.3s;
  z-index: 2;
}
ul.portfolio-list li .pop-wrap .inner-page .remove:hover::before, ul.portfolio-list li .pop-wrap .inner-page .remove:hover::after {
  background-color: #d5bdaf;
}
ul.portfolio-list li .pop-wrap .inner-page .remove::before, ul.portfolio-list li .pop-wrap .inner-page .remove::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  width: 100%;
  height: 2px;
  border-radius: 2px;
  background-color: #bd9d8a;
}
ul.portfolio-list li .pop-wrap .inner-page .remove::before {
  transform: translate(-50%, -50%) rotate(45deg);
}
ul.portfolio-list li .pop-wrap .inner-page .remove::after {
  transform: translate(-50%, -50%) rotate(-45deg);
}

a.go-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
a.go-btn span {
  display: inline-block;
}
a.go-btn i {
  display: inline-block;
  margin-left: 4px;
  transform: rotate(90deg) translate(0, 0);
  transition: 0.3s;
}
a.go-btn:hover i {
  transform: rotate(90deg) translate(0, -6px);
}

@media screen and (max-width: 1024px) {
  #menu {
    width: 100%;
    height: auto;
    padding: 0 20px;
    background: #000;
  }
  #menu .burger {
    display: none;
  }
  #menu ul.menu-list {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #menu ul.menu-list li {
    width: 33.3333333333%;
    margin-bottom: 0;
    border-right: 1px solid #999;
  }
  #menu ul.menu-list li:last-child {
    border-right: none;
  }
  #menu ul.menu-list li a {
    align-items: center;
  }
  #menu ul.menu-list li a::after {
    display: block;
    text-align: left;
    padding-left: 50px;
  }
  #menu ul.menu-list li a .icon-box {
    position: absolute;
    left: 15px;
    width: 30px;
    height: 30px;
    margin-bottom: 0;
  }
  #menu ul.menu-list li a span {
    font-size: 14px;
    text-align: left;
    padding-left: 50px;
  }
  .container {
    padding-left: 0;
  }
  .title {
    font-size: 48px;
    padding: 120px 0 30px 0;
  }
  .title-wrap {
    padding-bottom: 20px;
  }
  .portfolio-wrap {
    padding-left: 0;
  }
  ul.portfolio-list {
    padding-top: 10px;
  }
  ul.portfolio-list li .pop-wrap .inner-page {
    padding: 30px 20px;
  }
  ul.portfolio-list li .pop-wrap .inner-page .overflow {
    height: calc(100% - 45px);
  }
  ul.portfolio-list li .pop-wrap .inner-page .title {
    font-size: 30px;
    padding: 0 50px 20px 0;
    text-align: left;
  }
}
@media screen and (max-width: 768px) {
  h3 {
    font-size: 20px;
  }
  ul.portfolio-list li {
    width: 100%;
  }
  ul.portfolio-list li .pop-wrap .inner-page {
    width: 100%;
    height: 100%;
    border-radius: 0;
  }
  .personal {
    flex-wrap: wrap;
  }
  .personal .dfc {
    width: 100%;
    border-right: none;
    border-bottom: 1px dashed #ddd;
    padding-bottom: 20px;
  }
  .personal .fontbox {
    width: auto;
    padding-left: 0;
    padding-top: 20px;
  }
  .personal ul.contact {
    width: auto;
  }
  .personal .tag {
    text-align: center;
  }
  .personal ul.btnlist p {
    text-align: center;
  }
  ul.skill-list > li {
    width: 100%;
    padding: 20px 0;
    border-right: none;
    border-bottom: 1px dashed #ddd;
  }
  ul.skill-list > li:last-child {
    border-bottom: none;
  }
  #footer ul.footer-contact {
    flex-wrap: wrap;
  }
  #footer ul.footer-contact li {
    width: 100%;
    justify-content: center;
    padding: 5px 0;
  }
  .note-wrap {
    padding-bottom: 0;
  }
}
@media screen and (max-width: 500px) {
  .edit-block {
    padding: 20px 3%;
    margin-bottom: 30px;
  }
  p {
    font-size: 15px;
  }
  h6 {
    font-size: 13px;
  }
  ul.preset, ol.preset {
    font-size: 15px;
  }
  ul.preset li, ol.preset li {
    padding: 4px 0;
  }
  #menu {
    padding: 0;
  }
  #menu ul.menu-list li a .icon-box {
    position: relative;
    left: 0;
    margin-right: 5px;
    width: 25px;
    height: 25px;
  }
  #menu ul.menu-list li a .icon-box i {
    font-size: 16px;
  }
  #menu ul.menu-list li a::after {
    font-size: 12px;
    color: #fff;
    width: auto;
    padding-left: 0;
  }
  #menu ul.menu-list li a span {
    display: none;
  }
  .title {
    font-size: 32px;
    padding: 90px 0 15px 0;
  }
  .subtitle {
    font-size: 24px;
  }
  .title-wrap .links {
    padding-bottom: 0;
  }
  ul.portfolio-list li .pop-wrap .inner-page {
    padding: 30px 10px;
  }
  ul.portfolio-list li .pop-wrap .inner-page .title {
    font-size: 20px;
    padding: 0 40px 20px 0;
    font-weight: bold;
  }
  ul.portfolio-list li .pop-wrap .inner-page .remove {
    right: 10px;
    width: 35px;
    height: 35px;
  }
}
@media screen and (max-width: 400px) {
  a.btn {
    font-size: 14px;
    padding: 10px 15px;
  }
  h3 {
    font-size: 18px;
  }
  ul.portfolio-list li .font-box {
    padding: 20px 10px;
  }
  .edit-block {
    border-radius: 10px;
  }
  .personal ul.btnlist {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .personal ul.btnlist p {
    width: 100%;
  }
  .personal ul.btnlist li {
    margin: 2px 5px;
  }
  ul.preset li {
    font-size: 14px;
  }
  ul.preset li span.note {
    font-size: 12px;
    margin-top: 4px;
  }
  ul.preset li span.note ul > li {
    font-size: 12px;
  }
}/*# sourceMappingURL=main.css.map */