@import "reset";
@import "color";

html {
  font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  background-color: $color-light;
  color: $color-black;
}

body {
  animation-name: fade-in;
  animation-duration: 0.5s;
  animation-timing-function: ease-in;
  overflow-x: hidden;
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

::selection {
  background-color: rgba($color-main, 0.7);
}

/* 滾動條修改CSS(僅限-webkit-瀏覽器，chrome、safari、opera) */
::-webkit-scrollbar {
  width: 16px;
  height: 16px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 16px 16px rgba($color-dark, 0.15);
  border: 4px solid transparent;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 16px 16px rgba($color-dark, 0.5);
  border: 4px solid transparent;
  border-radius: 10px;
}

a,
i,
button,
input,
*::before,
*::after {
  transition: 0.3s;
}
.tac {
  text-align: center;
}
.bold {
  font-weight: bold;
}
.dfc {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

a {
  color: #666;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #bbb;
  }
}

a.btn {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid $color-dark;
  color: $color-dark;
  font-size: 16px;
  text-decoration: none;
  padding: 10px 30px;
  i {
    color: $color-dark;
  }
  &:hover,
  &:focus {
    background-color: $color-dark;
    color: #fff;
    i {
      color: #fff;
    }
  }
}

span.highlight {
  color: $color-highlight;
  font-weight: bold;
}

.container {
  width: 96%;
  padding-left: 80px;
  max-width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

#menu {
  position: fixed;
  left: 0;
  top: 0;
  width: 80px;
  height: 100%;
  height: fill-available;
  background-color: rgba($color-black, 0.9);
  padding: 5% 0;
  z-index: 1001;
  transition: 0.5s;
  &.active {
    width: 200px;
    ul.menu-list {
      text-align: left;
      li a {
        font-size: 18px;
        padding: 10px 30px;
        justify-content: flex-start;
        &::after {
          display: block;
        }
      }
    }
  }
  .burger {
    position: absolute;
    right: 20px;
    top: 15px;
  }
  ul.menu-list {
    width: 100%;
    text-align: center;
    transition: 0.3s;
    li {
      line-height: 1.3;
      margin-bottom: 2px;
      &.active a {
        color: #fff;
        background-color: #666;
        &::after {
          color: #ccc;
        }
        .icon-box {
          background-color: #fff;
          i {
            color: #333;
          }
        }
      }
      a {
        color: #ccc;
        font-size: 12px;
        padding: 10px 5px;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        span {
          display: block;
          width: 100%;
        }
        .icon-box {
          width: 40px;
          height: 40px;
          background-color: $color-main;
          border-radius: 100%;
          margin-bottom: 5px;
          transition: 0.3s;
        }
        i {
          font-size: 20px;
          color: $color-black;
        }
        &::after {
          content: attr(title);
          display: none;
          width: 100%;
          font-size: 14px;
          color: #999;
        }
        &:hover,
        &:focus {
          color: #fff;
          background-color: rgba(150, 150, 150, 0.3);
          &::after {
            color: #ccc;
          }
          .icon-box {
            background-color: #fff;
          }
        }
      }
    }
  }
}

.burger {
  width: 40px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 100%;
  cursor: pointer;
  transition: 0.3s;
  > div {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 14px);
    height: 2px;
    background-color: #ccc;
    transition: 0.3s;
    &:first-child {
      top: 35%;
    }
    &:last-child {
      top: 65%;
    }
  }
  &:hover {
    border-color: #fff;
    > div {
      background-color: #fff;
    }
  }
  &.active {
    transform: rotate(90deg);
    > div {
      &:first-child {
        top: 50%;
        transform: translate(-50%, -50%) rotate(45deg);
      }
      &:nth-child(2) {
        transform: translate(-50%, -50%) scale(0, 1);
      }
      &:last-child {
        top: 50%;
        transform: translate(-50%, -50%) rotate(-45deg);
      }
    }
  }
}

#footer {
  width: 100%;
  padding: 20px 0;
  background-color: $color-black;
  border-top: 1px solid $color-main;
  color: #fff;
  ul.footer-contact {
    width: 100%;
    display: flex;
    align-items: center;
    font-size: 14px;
    i {
      font-size: 20px;
      margin-right: 5px;
      color: $color-main;
    }
    a {
      color: $color-main;
      text-decoration: underline;
      &:hover,
      &:focus {
        color: $color-dark;
      }
    }
    li {
      display: flex;
      align-items: center;
      margin-right: 30px;
    }
  }
}

#gotop {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  background-color: $color-dark;
  border: 1px solid #ddd;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: 0.3s;
  color: #fff;
  z-index: 10;
  i {
    font-size: 24px;
  }
  &:hover {
    background-color: $color-main;
  }
}

.title {
  font-family: "Quicksand", "Source Sans Pro", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  display: block;
  font-weight: 300;
  font-size: 60px;
  color: $color-dark;
  letter-spacing: 1px;
  text-align: center;
  padding: 100px 0 30px 0;
}

.subtitle {
  font-weight: 500;
  font-size: 36px;
  color: $color-dark;
  word-spacing: 5px;
  padding: 25px 0;
}

.title-wrap {
  padding-bottom: 30px;
  .links {
    padding-bottom: 50px;
    p {
      text-align: center;
      padding-bottom: 20px;
    }
  }
}

.tag {
  font-size: 16px;
  .text-center {
    text-align: center;
  }
  span {
    display: inline-block;
    padding: 8px 12px;
    background-color: $color-dark;
    color: #fff;
    border-radius: 5px;
  }
}

.personal {
  width: 100%;
  display: flex;
  align-items: stretch;
  align-content: center;
  justify-content: center;
  .dfc {
    width: 300px;
    flex-wrap: wrap;
    border-right: 1px dashed #ddd;
    h2,
    h5,
    ul {
      width: 100%;
    }
    h2 {
      margin: 20px 0;
      font-size: 26px;
      line-height: 1.2;
      letter-spacing: 2px;
      span {
        display: block;
        font-size: 0.6em;
        opacity: 0.5;
        margin-top: 4px;
        letter-spacing: 1px;
      }
    }
    h5 {
      color: $color-dark;
    }
  }
  ul.contact {
    font-size: 14px;
    margin-top: 20px;
    i {
      font-size: 24px;
      margin-right: 10px;
      color: $color-dark;
    }
    a {
      text-decoration: underline;
      display: block;
    }
    li {
      padding: 5px 0;
      display: flex;
      align-items: center;
      span.note {
        display: block;
        color: #777;
        font-size: 13px;
        margin-left: 5px;
      }
    }
  }
  .imgbox {
    width: 150px;
    border: 1px solid #ddd;
    border-radius: 100%;
    overflow: hidden;
    img {
      width: 100%;
      height: auto;
    }
  }
  .fontbox {
    width: calc(100% - 300px);
    padding-left: 3%;
    ul.preset {
      margin-bottom: 24px;
    }
  }
  ul.btnlist {
    p {
      padding: 10px 0;
    }
    li {
      display: inline-flex;
      margin: 2px 0;
    }
  }
}

table {
  border: none;
  td {
    border: 1px dashed $color-main;
    padding: 10px;
    font-size: 14px;
  }
  thead td {
    background-color: $color-dark;
    border-style: solid;
  }
}

.edit-block {
  width: 100%;
  background-color: #fff;
  margin-bottom: 80px;
  padding: 3%;
  border-radius: 15px;
  border: 1px solid rgba($color-main, 0.5);
  a {
    text-decoration: underline;
  }
  a.btn {
    text-decoration: none;
  }
  p {
    line-height: 1.8;
  }
  img {
    max-width: 100% !important;
    height: auto !important;
  }
}

.inner-title {
  padding: 5px 15px;
  margin-bottom: 10px;
  font-weight: bold;
  &::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: $color-main;
  }
}
.inner-font {
  line-height: 1.8;
}

.note-wrap {
  padding-bottom: 100px;
}

ul.skill-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  > li {
    width: calc(100% / 3);
    padding: 0 20px;
    border-right: 1px dashed #ddd;
    &:last-child {
      border-right: none;
    }
    a.btn {
      display: block;
    }
    .icon-box {
      display: flex;
      align-items: center;
      h5 {
        color: $color-dark;
        font-weight: bold;
      }
    }
    i {
      font-size: 30px;
      margin-right: 15px;
      color: $color-dark;
      border: 1px dashed $color-main;
      padding: 10px;
      border-radius: 100%;
    }
  }
}

ul.preset {
  a {
    text-decoration: underline;
  }
  li {
    font-size: 15px;
    &::marker {
      color: $color-dark;
    }
    span.note {
      font-weight: normal;
      display: block;
      color: #777;
      font-size: 13px;
      ul {
        list-style: disc;
        margin-top: 4px;
        > li {
          padding: 2px 0;
          margin: 0 0 0 18px;
        }
      }
    }
  }
}

.portfolio-wrap {
  width: 100%;
  margin-bottom: 120px;
}

ul.portfolio-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 50px;
  li {
    width: calc(100% / 2 - 12px);
    margin: 6px;
    border: 1px solid #fff;
    border-radius: 8px;
    overflow: hidden;
    a:hover,
    a:focus {
      .img img {
        transform: scale(1.05);
        opacity: 1;
      }
      .font-box {
        h3 {
          color: $color-main;
        }
        &::after {
          transform: scale(1, 1);
        }
      }
    }
    .img {
      width: 100%;
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
    a > .img {
      overflow: hidden;
      img {
        transform: scale(1);
        transform-origin: top center;
        transition: 0.5s;
        opacity: 0.8;
      }
    }
    .font-box {
      padding: 20px;
      background-color: #fff;
      line-height: 1.5;
      transition: 0.5s;
      h3 {
        margin-bottom: 8px;
        color: $color-black;
        font-weight: bold;
      }
      h6 {
        color: #999;
        span {
          color: $color-dark;
          font-weight: bold;
          margin-right: 12px;
          padding-right: 12px;
          border-right: 1px solid #ddd;
        }
      }
      h3,
      h6 {
        transition: 0.3s;
      }
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 5px;
        background-color: $color-main;
        transform-origin: left center;
        transform: scale(0, 1);
        transition: 1s;
        transition-timing-function: ease-in-out;
      }
    }
    .pop-wrap {
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      z-index: 1001;
      .bg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(#ccc, 0.8);
      }
      .inner-page {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 90%;
        height: 96%;
        padding: 50px 20px;
        background-color: #fff;
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.7);
        border-radius: 16px;
        .title {
          padding: 0 0 20px 0;
          font-size: 40px;
          border-bottom: 1px solid $color-dark;
          a {
            color: $color-dark;
            &:hover,
            &:focus {
              color: $color-main;
            }
          }
        }
        h6 {
          line-height: 1.8;
        }
        .link {
          padding: 20px 0;
          .btn {
            margin-left: 10px;
          }
        }
        .img {
          margin: 20px 0 30px 0;
          > img {
            width: 100%;
            height: auto;
            border: 1px solid #eee;
            margin-bottom: 20px;
          }
        }
        .gray {
          color: #999;
        }
        .overflow {
          width: 100%;
          padding: 40px 0;
          height: calc(100% - 60px);
          overflow-y: auto;
        }
        .remove {
          position: fixed;
          right: 20px;
          top: 20px;
          width: 40px;
          height: 40px;
          cursor: pointer;
          transition: 0.3s;
          z-index: 2;
          &:hover {
            &::before,
            &::after {
              background-color: $color-main;
            }
          }
          &::before,
          &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            width: 100%;
            height: 2px;
            border-radius: 2px;
            background-color: $color-dark;
          }
          &::before {
            transform: translate(-50%, -50%) rotate(45deg);
          }
          &::after {
            transform: translate(-50%, -50%) rotate(-45deg);
          }
        }
      }
    }
  }
}

.back-wrap {
  display: block;
  text-align: center;
  margin-top: 30px;
  a.back-btn {
    background-color: $color-dark;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 2px;
    i {
      color: #fff;
      display: inline-block;
      transform: rotate(-90deg) translate(0, 0);
      margin-right: 4px;
      transition: 0.3s;
    }
    &:hover {
      background-color: $color-main;
      color: #fff;
      i {
        color: #fff;
        transform: rotate(-90deg) translate(0, -6px);
      }
    }
  }
}
a.go-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  span {
    display: inline-block;
  }
  i {
    display: inline-block;
    margin-left: 4px;
    transform: rotate(90deg) translate(0, 0);
    transition: 0.3s;
  }
  &:hover {
    i {
      transform: rotate(90deg) translate(0, -6px);
    }
  }
}

@import "RWD";
