<!DOCTYPE html>
<html lang="zh-TW">
<head>
  <title>Sophia Ko個人作品集 | 首頁</title>
  <!-- meta -->
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0, user-scalable=no">
  <!-- SEO -->
  <meta name="keywords" content="" />
  <meta name="description" content="" />
  <meta property="og:url" content=""/>
  <meta property="og:title" content="" />
  <meta property="og:description" content="" /> 
  <meta property="og:image" content=""/>
  <meta name="theme-color" content="#000000">
  <link rel="shortcut icon" href="img/webicon.ico"/>
  <!-- css -->
  <link rel="stylesheet" href="css/font.css" type="text/css">
  <link rel="stylesheet" href="css/animate.min.css">
  <link rel="stylesheet" href="css/main.css?v=20241126" type="text/css">
  <!-- js -->
  <script src="js/module/jquery-3.5.1.min.js"></script>
  <script src="js/module/vue.js"></script>
  <script src="js/module/wow.js"></script>
</head>

<!-- ----------------------------------------------- -->

<div class="container">
      <div class="note-wrap">
        <div class="title-wrap">
            <h1 class="title">個人簡介</h1>
        </div>
        <div class="personal edit-block wow animate__fadeInUp">
            <div class="dfc">
                <div class="imgbox"><img src="img/head.jpg" alt="個人頭像"></div>
                <h2 class="tac bold">柯翠茹<span>Sophia Ko</span></h2>
                <div class="tag text-center" style="margin-bottom: 12px;"><span>待業中</span></div>
                <h5 class="tac bold">資深前端工程師</h5>
                <ul class="contact">
                    <li><i class="icon-map"></i>台中市,北區</li>
                    <li><i class="icon-mail"></i><a href="mailto:s88431ss@gmail.com.tw" target="_blank">s88431ss@gmail.com.tw</a>
                    <br>
                    <span class="note">(每天收信)</span>
                    </li>
                </ul>
            </div>
            <div class="fontbox">
                <div class="tag"><span>經歷</span></div>
                <ul class="preset">
                  <li><span class="highlight">1年網頁設計</span> 經驗（<span class="highlight">多個網頁專案</span>，工作含設計、切版、客戶溝通）</li>
                  <li><span class="highlight">3年前端工程師</span> 經驗（<span class="highlight">單一產品後台</span>，工作含UI/UX、設計、切版、串接API、產品測試）</li>
                  <li>有參與大型專案經歷，製作產品後台，並被各大政府機構使用。（瑞思資訊時期，詳見<a href="https://www.rapixus.com/case.php" target="_blank">客戶案例</a>）</li>
                </ul>
                
                
                <div class="tag"><span>希望待遇</span></div>
                <ul class="preset">
                  <li>希望職務：專案經理(PM)、UI/UX工程師</li>
                  <li>希望工作形式：全職日班</li>
                  <li>希望薪資範圍：年薪60萬以上</li>
                  <li>希望產業：科技產業，最好與AI、未來趨勢相關</li>
                </ul>

                <h5 class="quest">Ｑ：為什麼希望職務是專案經理？</h5>
                <p class="ans">Ａ：職業轉型中，希望新職務偏重流程規劃、溝通、趨勢觀察，比起寫Code我更熱愛規劃跟溝通。</p>

                <h5 class="quest">Ｑ：有什麼符合專案經理特質的經歷？</h5>
                <p class="ans">Ａ：2023年曾經協助前公司參與資安大會，除了參加會議、規劃活動內容與時程表外，還負責找外包廠商，並且因為有設計底＆有印刷經驗，當時的DM及輔銷品都是由我設計、送印、寄到公司。<br/>
                我還外包2D影片給製作公司，並自己寫了簡易的網頁置入影片，然後租借平板讓大會攤位上能展示公司的影片。因為場內有網路問題，我是透過不須聯網的方式讓平板能夠播放影片。<br/>
                最後大會成功落幕，使用的預算與當初規劃的差不多，公司拉到不少新的客戶也打開知名度，我的上半年評鑑也得到了滿分，領到不少獎金。</p>

                <h5 class="quest">快速連結</h5>
                <ul class="btnlist">
                    <li><a href="#portfolio" class="btn anchor go-btn"><span>網站作品集</span><i class="icon-gotop"></i></a></li>
                    <li><a href="#skill" class="btn anchor go-btn"><span>專業技能</span><i class="icon-gotop"></i></a></li>
                    <li><a href="#experience" class="btn anchor go-btn"><span>經歷</span><i class="icon-gotop"></i></a></li>
                </ul>
            </div>
        </div>

        <span id="skill"></span>
        <h2 class="subtitle tac">專業技能</h2>
        <div class="edit-block wow animate__fadeInUp">
            <ul class="skill-list">
                <li>
                    <div class="icon-box">
                        <i class="icon-tool"></i>
                        <h5>開發工具</h5>
                    </div>
                    <ul class="preset">
                      <li>
                        設計相關
                        <span class="note">PhotoShop、Illustrator、Canva、Figma</span>
                      </li>
                      <li>程式設計
                        <span class="note">VS Code、Cursor、Git、SourceTree、Node.js、npm</span>
                      </li>
                      <li>AI工具
                        <span class="note">ChatGPT、Claude、Cursor、Midjourney</span>
                      </li>
                      <li>專案管理
                        <span class="note">Notion、Notion Calendar</span>
                      </li>
                    </ul>
                </li>
                <li>
                    <div class="icon-box">
                        <i class="icon-code"></i>
                        <h5>程式語言</h5>
                    </div>
                    <ul class="preset">
                        <li>HTML5/CSS3
                          <span class="note">SASS/SCSS/less均可，平常使用SCSS或less。<br>
                          會使用$變數、@mixin、@import等方式管理css style，常用Tailwind.css輔助管理。</span>
                        </li>
                        <li>Javascript(ES6/ES7)
                          <span class="note">可靈活運用原生js撰寫新功能</span>
                        </li>
                        <li>Vue.js
                          <span class="note">平常工作使用的框架(前後端分離)，過去工作主要使用Vue2，會搭配JSX寫法進行render。<br/>熟悉Vue Cli、VueX、Vue Router、生命週期。</span>
                        </li>
                        <li>RESTful API
                          <span class="note">前後端分離串接API</span>
                        </li>
                        <li>JSON
                          <span class="note">理解物件擺放規則，可調用外部資料</span>
                        </li>
                        
                    </ul>
                </li>
                <li>
                    <div class="icon-box">
                        <i class="icon-skill"></i>
                        <h5>輔助技能</h5>
                    </div>
                    <ul class="preset">
                      <li>
                        php
                        <span class="note">會使用一些簡單的指令，早期在網頁設計公司與後端合作的寫法(前後端混雜)</span>
                      </li>
                      <li>
                        React.js
                        <span class="note">僅個人學習時建立過小型專案，熟悉JSX寫法</span>
                      </li>
                      <li>
                        Python
                        <span class="note">僅在閒暇時自學，能夠自己寫出小習題並加入錯誤判斷，沒有實際參與專案經驗</span>
                      </li>
                    </ul>
                </li>
            </ul>
        </div>

        <span id="experience"></span>
        <h2 class="subtitle tac">經歷</h2>
        <div class="edit-block wow animate__fadeInUp">
            <ul class="skill-list">
                <li>
                    <div class="icon-box">
                        <i class="icon-work"></i>
                        <h5>工作經歷</h5>
                    </div>
                    <ul class="preset">
                        <li><a href="https://www.rapixus.com/" target="_blank">瑞思資訊股份有限公司</a>
                          <span class="note">2021/3 - 2024/2<br/>
                            前端工程師<br/>
                            <ul>
                              <li>全權負責公司過去兩年的主要營收項目（VANS）</li>
                              <li>優化後台整體形象及重新規劃流程，使公司產品 RapixEngine 在一年內成為同業中 UI/UX 最優質的品項</li>
                            </ul>
                          </span>
                        </li>
                        <li><a href="https://www.maya.com.tw/" target="_blank">瑪雅網路設計</a>
                          <span class="note">2020/1 - 2021/2<br>
                            網頁設計師
                          </span>
                        </li>
                        <li><span class="note">不相關的工作經歷暫不列入此頁，有興趣請見人力銀行內履歷資料。</span></li>
                    </ul>
                </li>
                <li>
                    <div class="icon-box">
                        <i class="icon-project"></i>
                        <h5>參與專案</h5>
                    </div>
                    <ul class="preset">
                        <li>
							協助公司首次參展<a href="https://cybersec.ithome.com.tw/landingPage/" target="_blank">資安大會</a>
							<span class="note">
								<ul>
									<li>時間：2023年3~5月</li>
									<li>現場活動企劃、活動流程規劃、場地規劃、主視覺指導</li>
									<li>輔銷品選擇+設計+送印、DM設計</li>
									<li>公司介紹、產品介紹影片企劃+外包(<a href="https://www.rapixus.com/product_detail.php?id=34" target="_blank">影片連結</a>)</li>
									<li>現場活動攝影流程規劃+外包(<a href="https://www.rapixus.com/news_detail.php?id=54" target="_blank">影片連結</a>)</li>
									<li>現場平板影片放映用網頁製作</li>
									<li>公司制服外包</li>
								</ul>
							</span>
						</li>
                    </ul>
                    <br>
                    <h5 class="mb-2">網頁設計專案</h5>
                    <p class="tac"><a href="#portfolio" class="btn anchor">作品集一覽</a></p>
                </li>
                <li>
                    <div class="icon-box">
                        <i class="icon-book"></i>
                        <h5>學歷</h5>
                    </div>
                    <ul class="preset">
                        <li>逢甲大學
                          <span class="note">2011/9 - 2016/06<br>
                            化學工程系
                          </span>
                        </li>
                        <li>豐原高中
                          <span class="note">2008/9 - 2011/6<br>
                            普通科
                          </span>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
      </div>
      
  </div>

<!-- ----------------------------------------------- -->

<div id="portfolio" class="portfolio-wrap container">
  <h1 class="title tac">網頁設計專案實績</h1>
  <ul class="portfolio-list">
      <li v-for="item in info" :key="item.name">
          <a href="javascript:void(0);" :title="item.name" @click="handleOpen(item)">
              <div class="img"><img :src="item.imgurl" :alt="item.name"></div>
              <div class="font-box">
                  <h3>{{ item.name }}</h3>
                  <h6><span>{{ item.date }}</span>{{ item.subtitle }}</h6>
              </div>
          </a>
          <transition name="fade">
            <div class="pop-wrap" v-if="item.innerActive">
                <div class="bg" @click="handleClose(item)"></div>
                <div class="inner-page">
                    <div class="remove" title="Close" @click="handleClose(item)"></div>
                    <h2 class="title tac"><a :href="item.url" title="前往官網" target="_blank">{{ item.name }}</a></h2>
                    <div class="overflow">
                        <h6 class="gray tac">{{ item.subtitle }}</h6>
                        <h6 class="gray tac">專案時間：{{ item.date }}</h6>
                        <h6 v-if="item.url" class="link tac">網站連結：<a :href="item.url" target="_blank" class="btn" :title="item.name">立即前往</a></h6>
                        <div v-if="item.imgurl || item.mobileImg" class="img">
                            <img v-if="item.imgurl" :src="item.imgurl" :alt="item.name">
                            <img v-if="item.mobileImg" :src="item.mobileImg" :alt="item.name">
                        </div>
                        <div v-if="item.url">
                          <div class="inner-title">網站連結</div>
                          <p><a :href="item.url" target="_blank" class="btn" :title="item.name">立即前往</a></p>
                          <br><br>
                        </div>
                        <div class="inner-title">說明</div>
                        <p class="inner-font" v-html="item.content"></p>
                        <br><br>
                        <h6 class="tac"><a href="javascript:void(0);" @click="handleClose(item)" class="btn">關閉分頁</a></h6>
                    </div>
                </div>
            </div>
          </transition>
      </li>
  </ul>
</div>

<!-- ------------------------------------------------------ -->




<script>
  new Vue({
    el: '.portfolio-wrap',
    data() {
      return { 
        title: '網頁作品一覽',
        info: [
          {
            imgurl: 'img/rpx.jpg',
            mobileImg: 'img/rpx-m.jpg',
            name: 'RapixEngine後台風格翻新',
            subtitle: '配合新官網風格翻新公司產品後台風格，制定新色票表，優化產品功能',
            url: '',
            date: '2022下半年',
            innerActive: false,
            content: `配合新官網風格翻新公司產品後台風格，制定新色票表。<br>修改儀錶板整體設計，新增儀表板區塊隱藏及拖曳排序等功能。`
          },
          {
            imgurl: 'img/nchu.jpg',
            mobileImg: 'img/nchu-m.jpg',
            name: 'C級學校聯合服務',
            subtitle: '網站設計、DM設計、網頁切版(純html)',
            url: 'https://www.twisc.nchu.edu.tw/ncsu-cloud',
            date: '2022/10',
            innerActive: false,
            content: `專案名稱：資通安全弱點通報機制(VANS) - C級學校聯合服務<br>合作對象：中興大學(異業合作項目)<br><br>瑞思資訊與中興大學的異業合作案，我負責此案的整體風格設計，並配合設計DM、網站等。<br>因此案是將網頁提供給對方置入，避免更新麻煩就採用單html檔的方式完成案件(圖片轉base64)。`
          },
          {
            imgurl: 'img/rapix.jpg',
            mobileImg: 'img/rapix-m.jpg',
            name: '瑞思資訊官網翻新',
            subtitle: '監督委外廠商確定風格，製作產品圖等自行上架內容、優化SEO',
            url: 'https://www.rapixus.com/',
            date: '2022年中',
            innerActive: false,
            content: `此案為委託外部廠商進行製作，我只負責敲定網站風格及監督時程，並未執行初期設計開版及切版工作。<br>案件結束後因廠商不協助產品上架，因此我配合新官網風格重新設計產品圖，後來也陸續協助上架其他內容，並優化網站SEO讓公司網頁排名靠前。`
          },
          {
            imgurl: 'img/vans.jpg',
            name: 'RapixEngine(RXE) VANS 資安弱點通報系統模組',
            subtitle: '模組功能流程規劃、前端UI製作及API串接',
            url: 'https://www.rapixus.com/product_detail.php?id=30',
            date: '2021年中',
            innerActive: false,
            content: `負責模組功能流程規劃、前端UI製作及API串接。<br>此案為2021~2022年公司主要營收項目，配合政府法案規範的剛性需求，讓A、B級機關能夠快速且系統化地完成資通安全管理法之要求。<br>目前使用此模組的客戶含括立法院、內政部、財政部等公務機關、各縣市公務機關、各大醫療院所、教育單位及企業用戶。<br>(詳細可見：<a href="https://www.rapixus.com/case.php" target="_blank" style="text-decoration: underline;">客戶案例</a>)<br>產品本身在業內的風評極佳，介面美觀、操作直觀、流程易懂。`
          },
          { 
            imgurl: 'img/chumbuddy.jpg',
            mobileImg: 'img/chumbuddy-m.jpg',
            url: 'http://mayawork.com.tw/2020chumbuddy/',
            name: 'ChumBuddy - 濟稻企業有限公司',
            subtitle: '網頁設計/RWD切版/舊站翻新',
            date: '2021/2',
            innerActive: false,
            content: `網站尚未正式上線，僅為展示用，無後端功能。<br>此網站為國際機汽車零件貿易公司的舊站翻新，<br>整體採用黑色底，以活潑的藍綠色作為輔色，並以金屬色與齒輪作為元素點綴，搭配出極具科技風的現代化網站。<br><br>因為主要用戶為歐美的年長使用者，且客戶多使用手機在外跑業務，因此重點加強了RWD的操作流暢度及直覺性。<br>為了使年長者也能迅速找到常用功能按鈕，我將大部分的分頁操作/分類操作/搜尋/篩選等功能都fixed在最上方，<br>並在不影響閱讀、手指能方便觸控的前提下盡可能縮小UI。`,
          },
          { 
            imgurl: 'img/vajra.jpg', 
            mobileImg: 'img/vajra-m.jpg',
            url: 'https://www.vajra.tw/',
            name: 'Vajra - 壇城國際企業社',
            subtitle: '網頁設計/RWD切版/形象購物站',
            date: '2021/1',
            innerActive: false,
            content: `產品形象+基本購物功能的網站，客戶規劃的產品類別不多，因此以精簡的方式切換分類即可。<br><br>此站主要商品為訶子粉，使用者以營養保健為主要目的，因此網站中使用較多綠色元素，讓使用者產生安心感。<br>網站中使用大量引導使用者操作的配色，例如：加入購物車按鈕用亮橘色提醒用戶將產品加入購物車，並用視覺上較安定的淺藍色作為已加入購物車的顯示色。`,
          },
          { 
            imgurl: 'img/radm.jpg', 
            mobileImg: 'img/radm-m.jpg',
            url: 'http://www.mayawork.com.tw/2020radm/',
            name: 'RADM - 瑞門國際企業有限公司',
            subtitle: '網頁設計/RWD切版/舊站翻新',
            date: '2020/12',
            innerActive: false,
            content: `此公司與濟稻Chum-Buddy是關係企業，除了機汽車零件外還有其他營運項目，<br>網站大致結構和Chum-Buddy一樣，不過此站有較特殊的客製化會員系統(Wisdom Laboratory)。<br><br>Wisdom Laboratory簡單來說就是提供會員專案諮詢功能，<br>使用者成為實驗室會員後，瑞門可以給予實驗室會員公司營運上的建議，<br>也可提供一些法務的基本諮詢（他們與鼎言法律事務所也是關係企業），協助實驗室會員釐清自己公司營運上的問題。<br>網站有中英文版本，繁中使用者不用擔心英文看不懂的問題。<br><br>Wisdom Laboratory登入後有專案選擇、佈告欄、專案諮詢、檔案櫃等功能，客戶可在專案諮詢區上傳檔案，方便描述自己遇到的困境。<br><br>(※註：此站尚未正式上線，目前只有英文版前台畫面，還沒有這些功能。)`,
          },
          { 
            imgurl: 'img/deanyen.jpg', 
            mobileImg: 'img/deanyen-m.jpg',
            url: 'https://www.deanyen.com/',
            name: 'Deanyen - 鼎言國際法律事務所',
            subtitle: '網頁設計/RWD切版/形象網站',
            date: '2020/11',
            innerActive: false,
            content: `法律事務所形象網站，已上線網站。<br>沒有任何特別的功能，因此網站採全靜態製作，重點focus在整體形象是否與法律相關、文字資料擺放是否流暢等<br>主要配色採用穩重的咖啡色系，搭配淺灰色塊及形象圖，讓整體視覺端莊而淡雅。`,
          },
          { 
            imgurl: 'img/shiangming.jpg', 
            mobileImg: 'img/shiangming-m.jpg',
            url: 'https://www.shiangming.com/',
            name: '祥明診所',
            subtitle: '網頁設計/RWD切版',
            date: '2020/7',
            innerActive: false,
            content: `結構單純的診所網站，除了首頁以外都是文章編輯器或文章列表，主要著重在網站SEO。<br>因為是功能取向的網站，為了便於使用者一進網站就能直接找到想找的資訊，我把網路掛號、服務電話直接固定在menu上，並把門診時間、最新消息放在首頁最醒目的位置。`,
          },
          { 
            imgurl: 'img/dajun.jpg', 
            mobileImg: 'img/dajun-m.jpg',
            url: 'https://www.dajun88.com/',
            name: '大鈞診所,大川診所',
            subtitle: '網頁設計/RWD切版/舊站翻新',
            date: '2020/5',
            innerActive: false,
            content: `較注重SEO的診所網站，首頁及共通頁面在關鍵字上下了不少心思。<br>需要放各科相關的醫學文章，且文章數量不少，<br>考量到上線後客戶會頻繁上架新文章，因此網站整體規劃得較簡易，方便查找文章，也沒有設計太複雜的結構。`,
          },
        ],
      }
    },
    methods: {
      /**
       * 開啟視窗
       * @param {object} item 開啟對象
       */
      handleOpen(item) {
        item.innerActive = true;
        document.body.style.overflow = 'hidden';
      },
      /**
       * 關閉視窗
       * @param {object} item 開啟對象
       */
      handleClose(item) {
        item.innerActive = false;
        document.body.style.overflow = 'auto';
      }
    }
  });
  </script>

<!-- ----------------------------------------------- -->

<div id="footer">
  <div id="gotop"><i class="icon-gotop"></i></div>
  <div class="container">
      <ul class="footer-contact">
          <li>柯翠茹 - Sophia Ko</li>
          <li><i class="icon-mail"></i><a href="mailto:s88431ss@gmail.com.tw" target="_blank">s88431ss@gmail.com.tw</a></li>
      </ul>
  </div>
</div>

<script src="js/main.js"></script>

</body>
</html>